/* .changeling {
    border: 5px solid lightgray;
    padding: 10px;
    border-radius: 4px;
}  */

.response {
    border: 5px solid #F3FFBD;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
} 

.card-body{
    border: 5px solid #B2DBBF;
    background-color: #70C1B3;
    padding: 10px;
    border-radius: 4px;
}

.my-button{
    height: 175px;
}

body {
background: #F3FFBD;
background: -moz-linear-gradient(top, #F3FFBD 0%, #FF1654 52%, #247BA0 100%);
background: -webkit-linear-gradient(top, #F3FFBD 0%, #FF1654 52%, #247BA0 100%);
background: linear-gradient(to bottom, #F3FFBD 0%, #FF1654 52%, #247BA0 100%);
}

#header {
    background-color: #F3FFBD;
    margin-bottom: 0;
}

.win {
    margin-bottom: 0;
    background-color: #F3FFBD;
}

.lose {
    margin-bottom: 0;
    background-color: #FF1654;
}